/* TODO: fonts, hover effects */
@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "UnifrakturMaguntia", cursive;
  color: #fcfcfc;
  letter-spacing: 0.075em;
  background-color: #010101;
}

h2 {
    font-size: 2em;
    font-style: italic;
    margin: 0em 0em 0.5em 0em;
}

h1 {
    font-size: 2.5em;
    margin: 0.25em 0em 0em 0em;
}

.flex-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#self-info {
    display: flex;
    flex: 25;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */

    img {
        padding: 0em 1em 0em 1em;
    }

    
}

#char-imgs {
    justify-content: center;
    display: flex;
    flex: 75;
    flex-wrap: wrap;
    /* background-color: aqua; */
    gap: 1em;

    img {
        cursor: pointer;
        width: calc((100% - 12em) / 12);
        height: auto;
        align-self: center;
    }
}